# Basic Site Settings
locale                  : "en-US"
site_theme              : "contrast"
title                   : "Kouyakou-Abalo SIMSOBA"
title_separator         : "-"
name                    : "Kouyakou-Abalo SIMSOBA"
description             : "Google DeepMind Scholar | Artificial Intelligence Researcher"
url                     : "https://abalosimsoba-prog.github.io"
baseurl                 : "" 
repository              : "abalosimsoba-prog/abalosimsoba-prog.github.io"

# Site Author - Sidebar Profile
author:
  avatar           : "profile.jpg"
  name             : "Kouyakou-Abalo SIMSOBA"
  pronouns         : "he/him"
  bio              : "Google DeepMind Scholar | M.Sc. AI for Science at AIMS South Africa"
  location         : "Cape Town, South Africa"
  # This '|' allows the name to break into two lines in the sidebar
  employer         : |
    African Institute for 
    Mathematical Sciences (AIMS)
  email            : "kouyakou@aims.ac.za"

  # Academic websites
  googlescholar    : "https://scholar.google.com/citations?hl=en&user=RtYAMMoAAAAJ"
  orcid            : "https://orcid.org/0009-0005-4050-5040"
  researchgate     : "https://www.researchgate.net/profile/Kouyakou-Abalo-Simsoba"
  # academia       : 
  # arxiv          : 

  # Software development
  github           : "Abalo39"

  # Social media
  linkedin         : "https://www.linkedin.com/in/abalo-simsoba-803a75244/"
  # twitter        : 

# Publication Category Headings
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'    
  conferences:
    title: 'Conference Papers'

# Site Settings
teaser                   : 
breadcrumbs              : false 
words_per_minute         : 160
future                   : true
read_more                : "disabled" 
talkmap_link             : false      
comments:
  provider               : false 

# File Management
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/_main.js
  - CHANGELOG
  - LICENSE
  - node_modules
  - package.json*
  - README
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Display Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      share: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Styling
sass:
  sass_dir: _sass
  style: compressed 

# Technical Output
permalink: /:categories/:title/
timezone: Etc/UTC 

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

compress_html:
  clippings: all
  ignore:
    envs: development
